@using DigitalGarden.Shared.Components.Controls

@page "/life-log"
@rendermode InteractiveAuto

<WaitForInteractivity>
    <PageHeaderContent PageTitle="Life Log" HeaderText="Life Log">
        <BodyFragment>
            <p>I've always liked the idea of documenting my past while I live my present so I can look back in the future.</p>
            <p>This section allows me to that in a structured way, covering my professional and personal life, as much as I am willing to share in a public space.</p>
            <p>It's important to be proud of what you've been through and place on a pedestal what you feel belongs there.</p>
        </BodyFragment>
    </PageHeaderContent>
    
    <h2 class="center-text muted mb-2">Onward Logs</h2>
    <div class="grid-12 mb-2">
        <div class="mb-4 col-12 col-start-l-3 col-l-8">
            <ContentCardLink FontAwesomeIcon="fa-heart" Name="Wedding & Honeymoon!" ClickedCallback="GoToWedding"
                             Description="A collage of photos from the wedding and the honeymoon, along with a copy of my speech from the special day!" />
        </div>

        <div class="mb-4 col-12 col-start-l-3 col-l-8">
            <ContentCardLink FontAwesomeIcon="fa-suitcase" Name="Holidays" ClickedCallback="GoToHolidays"
                             Description="Want to make more effort to digitise and memorialise holidays to help them never be forgotten (as long as the internet doesn't go out)." />
        </div>

        <div class="col-12 col-start-l-3 col-l-8">
            <ContentCardLink FontAwesomeIcon="fa-file" Name="Professional Profile / CV" ClickedCallback="GoToProfessionalProfile"
                             Description="A digital representation of my professional experience, much of which you'd find on my CV." />
        </div>
    </div>

    <h2 class="center-text muted mt-6 mb-2">Recent Logs</h2>
    <div class="grid-12 mt-2">
        <div class="mb-2 col-12">
            <h3 class="muted">Entertainment</h3>
            <p>Bits & bobs currently in progress</p>
            <MouseOverCards Cards="@RightNowCards" />

            <p>Books read, and shows and films watched in recent times.</p>
            <MouseOverCards Cards="@EntertainmentCards" />

            <p>Video and board games that have been played.</p>
            <MouseOverCards Cards="@GameCards" />
        </div>

        <div class="mb-2 mt-2 col-12">
            <h3 class="muted">Music</h3>
            <p>My top artists of the last 6 months.</p>
            <MouseOverCards Cards="@ArtistsCards" />

            <p>My top tracks of the last 6 months.</p>
            <MouseOverCards Cards="@TracksCards" />
        </div>
    </div>     
</WaitForInteractivity>
